* {
	box-sizing: border-box;
}
body {
	font-family: Arial, "微软雅黑";
	font-size: 16px;
}
#canvas {
	background: rgba(0, 0, 0, 0.18);
	position: absolute;
	margin-top: 5px;
	clear: both;
}
#tab {
	background: rgba(0, 0, 0, 0.18);
	color: black;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	width: 801px;
}
#tab span{
	padding: 2px;
	
}
#tools {
	width: 801px;
	margin-top: 2px;
}
#tools #clearFloat{
	clear: both;
}
#tools div {
	width: 157px;
	height: 100px;
	// border: 1px solid black;
	margin: 0 2px;
	float: left;
}
#tools #copy {
	margin-left: 0px;
}
#tools #stroke {
	margin-right: 0px;
}
#tools #choose .choice {
    width: 30%;
    height: 100%;
}
#tools #copy .choice {
    width: 30%;
    height: 100%;
}
#tools  .choice .selected {
    height: 50px;
    padding: 5px 0;
    margin: 5px 0;
}
#tools .choice .opt{
    border: 2px solid #000;
    background: #6e649a;
    color: #fff;
    font-weight: bold;
    box-shadow: 2px 2px 1px #888888;
}
#tools .choice .opt.active {
	border: 2px solid #000;
    background: #6e649a;
    color: #fff;
    font-weight: bold;
    box-shadow: none;	
}
#tools .slice {
    width: 63%;
    height: 50px;
}
#tools .rotate {
    width: 63%;
    height: 50px;
}

#statusBar {
    position: absolute;
    bottom: 0px;
    /* background: rgba(0, 0, 0, 0.18); */
    width: 801px;
}
#statusBar #point {
    float: right;
    font-weight: bold;
    height:30px;
    width: 30%;
    line-height: 20px;
    text-align: center;
}